aws_region          = "ap-south-1"
project_name        = "knowledge-graph"
environment         = "dev"
state_bucket_name   = "knowledge-graph-tf-state-dev"
state_lock_table_name = "knowledge-graph-dev-tf-locks"
